*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*body
{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  overflow overflow - x: hidden;
  overflow - y;auto;
  box-sizing: border-box;
}
body{
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}
header{
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}
main{
  background-color: white;
  width: 60%;
  margin: 40px auto;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
}
h2{
  color: darkblue;
  margin-bottom: 10px;
}
nav{
  margin-top: 10px;
}
nav a{
color: white;
text-decoration: none;
margin: 0 15px;
font-weight: bold;
}
nav a:hover{
  text-decoration: underline;
}
.content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.content img{
  width: 150px;
  border-radius: 50%;
}
.text {
  text-align:left;
}
button{
  margin-top: 15px;
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover{
  background-color: black;
}
@media(max-with:768px) {}
 main {
  width: 90%;
  .content{
    flex-direction: column;
    text-align: center;
  }
  .text{
    text-align: center;
  }
  }
  #projects {
    padding: 40px 0;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
  }
  .projects-container{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .project-card{
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
  }
  .project-card img{
    width: 100%;
    border-radius: 5px;
  }
  .project-card  h3{
    margin: 10px 0 5px 0;
  }
  .project-card p{font-size: 14px;
  }
  #skills{
    padding: 40px 20;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
    background-color: #111;
    color: white;
  }
  .skill-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
  }
  .skill-container span{
    background-color: darkblue;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
  }